@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  cursor: pointer;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.container{
  min-width: 1440px;
  margin: 0 auto;
  padding: 20px 0;
}
body{
  font-family:"Roboto";
  background-color: #242424;
  color: white;
}